!-----------------------------------------!
! Colors                                  !
!-----------------------------------------!

*background: #002b36
*foreground: #f6f6f6

!black
*color0:  #303030
*color8:  #111111

!red
*color1:  #4c4c4c
*color9:  #a5a5a5

!green
*color2:  #959595
*color10: #cacaca

!yellow
*color3:  #e1e1e1
*color11: #f0f0f0

!blue
*color4:  #1d1d1d
*color12: #8d8d8d

!magenta
*color5:  #696969
*color13: #aaaaaa

!cyan
*color6:  #c2c2c2
*color14: #c7c7c7

!white
*color7:  #ffffff
*color15: #7e7e7e


!-----------------------------------------!
! urxvt                                   !
!-----------------------------------------!

urxvt*.perl-lib: /usr/lib/urxvt/perl
urxvt*.perl-ext-common: default,matcher,clipboard
urxvt*.perl-matcher: 1
urxvt*.matcher-button: 3
urxvt*.url-launcher: /usr/bin/midori
!urxvt*.matcher.button: 1
!urxvt*.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

! letter spacing
urxvt*.letterSpace: -1

urxvt*.dynamicColors: on
urxvt*.urgentOnBell: true

! cursor
urxvt*.cursorBlink: true
urxvt*.cursorUnderline: 0

! scrollbar
urxvt*.scrollBar: false

! border
urxvt*.borderLess: false
urxvt*.internalBorder: 5
urxvt*.externalBorder: 0

! true transparency
urxvt*.depth: 32
urxvt*.background: [40]#303030

! font
urxvt*.font: xft:Inconsolata:size=12:antialias=true
urxvt*.boldFont: xft:Inconsolata:style=bold:size=12:antialias=true
urxvt*.italicFont: xft:Inconsolata:style=italic:size=12:antialias=true
urxvt*.boldItalicFont: xft:Inconsolata:style=bolditalic:size=12:antialias=true


!-----------------------------------------!
! Rofi Theme                              !
!-----------------------------------------!

rofi.color-enabled: true;
rofi.opacity: 10;
rofi.color-window: #303030, #303030, #262626;
rofi.color-normal: #262626, #777777, #262626, #262626, #9e9e9e;
rofi.color-urgent: #262626, #777777, #262626, #262626, #9e9e9e;
rofi.color-active: #262626, #777777, #262626, #262626, #9e9e9e;

rofi.bw: 0;
rofi.hide-scrollbar: true;
rofi.scrollbar-width: 0;
rofi.separator-style: none;
rofi.lines: 6;
